
/* ESTILOS DA PÁGINA INDEX.HTML */

/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Lato&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Lato&family=Montserrat:wght@200&family=Roboto:wght@100;300;400;700&display=swap');


/* Body */

body {
    background-color: #FAFAFA;
}

/* Personalizações */
.arredondamento{
    border-radius: 50%;
}

.arredondamentosup{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.negrito{
    font-weight:800;
}

.linksparagrafos{
    text-decoration: none;
    color: #0C0C0C;
    font-family: Montserrat;
    font-weight: 1000;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

/* Títulos e textos */

h1 {
    color: #0C0C0C;
    font-family: Roboto;
    font-weight:300;
}

h2 {
    color: #0C0C0C;
    font-family: Roboto;
}

h3 {
    color: #0C0C0C;
    font-family: Roboto;
}

p {
    color: #4D4D4D;;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

legend {
    font-family: Roboto;
    font-size: 0.8rem;
    color: #b4b4b4;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}


/* Apresentação */

.topofoto{
    flex-direction: wrap;
}

.margem{
    margin: 5rem 20rem;
}

.tituloindex{
    margin: 5rem 0rem 0rem 0rem;
}

.tmprojetos{
    height: 15vw;
    width: 15vw;
}

/* Blocos */

.texto{
    display: flex;
    flex-direction: column;
    width: 50vw;
    color: #4D4D4D;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.formacao{
    margin: 5rem 0rem;
}

.botao{
    text-decoration: none;
    color: #404040;
    color: #FAFAFA;
}

.botaotopo{
    text-decoration: none;
    margin: 2rem 0rem;
    width: 30%;
    padding: 1rem;
    font-family: Montserrat;
    font-size: 0.8rem;
    border: 0;
    background: #94A58B;
    color: #FAFAFA;
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.botaotopo:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Barra de navegação */

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links {
    font-size: 1rem;
    font-family: Lato;
    text-transform: uppercase;
    text-decoration: none;
    color: #404040;

}

.links:hover{
    font-weight: bold;
}

/* Projetos desenvolvidos */

.projetos {
    display: flex;
    margin: 5rem 0rem;
}

.card {
    margin: 0rem 5rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.tagtexto {
    align-items: center;
}


/* ESTILOS DA PÁGINA CONTATO.HTML */


.titulo {
    margin: 10rem 0rem 0rem 0rem;
}

.redes {
    margin: 5rem 0rem;
}

.redesul {
    list-style-type: none;
    color: #4D4D4D;;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem 0rem 1rem 0rem;
    width: 100%;
}

.campo label{
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 0.8rem;
    color: #b4b4b4;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 4;
}

.campo input, .campo textarea {
    padding: 1rem;
    font-size: 0.8rem;
    border: 0;
    border-radius: 0.1rem;
}

button{
    margin: 2rem 0rem;
    width: 30%;
    padding: 1rem;
    font-family: Montserrat;
    font-size: 0.8rem;
    border: 0;
    background: #94A58B;
    color: #FAFAFA;
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
